<h1>Listar Usuários</h1>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Idade</td>
            <td>Perfil</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of listaUsuarios">
            <td>{{ row.id }}</td>
            <td>{{ row.nome }}</td>
            <td>{{ row.idade }}</td>
            <td>{{ row.perfil }}</td>
            <td>
                <button class="btn btn-primary btn_margin_right" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    type="button" (click)="editar(row.id)">Editar
                </button>

                <button class="btn btn-secondary" type="button" (click)="excluir(row.id)">Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>