<h1>Cadastro Usuários</h1>
<form id="myForm" #f="ngForm" (ngSubmit)="addUsuario()">
    <div class="col-6">
        <label for="id">Id:</label>
        <input id="id" name="id" [(ngModel)]="model.id" class="form-control" type="text">
    </div>
    <div class="col-6">
        <label for="nome">Nome:</label>
        <input id="nome" name="nome" [(ngModel)]="model.nome" class="form-control" type="text">
    </div>
    <div class="col-6">
        <label for="idade">Idade:</label>
        <input id="idade" name="idade" [(ngModel)]="model.idade" class="form-control" type="text">
    </div>
    <div class="col-6 btn_margin_bottom">
        <label for="perfil">Perfil:</label>
        <input id="perfil" name="perfil" [(ngModel)]="model.perfil" class="form-control" type="text">
    </div>
    <div class="col-3">
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </div>
</form>